.locations {
  &__main-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
  }

  &__text-box {
    text-align: left;
    font-size: 1.3rem;
    color: $yellow;
    margin-bottom: 20px;
    width: 50%;
    background-color: rgba(21, 168, 187, 0.445);
    backdrop-filter: blur(1.5rem);
    border: 2px solid $rickBlue;
    padding: 20px;
    border-radius: 10px;

    span {
      color: $white;
      margin-right: 10px;
    }
  }

  &__card-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }
}

// responsive

@media (max-width: 1024px) {
  .locations {
    &__main-box {
      grid-template-columns: 100%;
      gap: 20px;
    }

    &__text-box {
      font-size: 1.2rem;
      margin: 0px auto 20px;
      padding: 10px;
      border-radius: 10px;
      width: 100%;

      span {
        color: $white;
        margin-right: 10px;
      }
    }

    &__card-box {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 10px;
    }
  }
}
