.button-box {
  margin-top: 50px;

  &__swiper-box {
    max-width: 300px !important;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;

    .swiper-slide {
      display: inline-block;
      margin: auto;
      display: flex;
      justify-content: center;
    }
  }

  &__navigation-btn {
    padding: 8px 20px;
    background-color: transparent;
    border: 2px solid $rickBlue;
    color: $white;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: ease-out 0.15s;
    margin: 0px 10px;
    backdrop-filter: blur(1.5rem);

    &:hover {
      transition: ease-in 0.15s;
      background-color: rgba(21, 168, 187, 0.349);
      backdrop-filter: blur(1.5rem);
      cursor: pointer;
      color: $yellow;
    }
  }
}

.active-btn {
  background-color: rgba(21, 168, 187, 0.349);
  backdrop-filter: blur(1.5rem);
  color: $yellow;
}
