.characters {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__form {
    margin-bottom: 30px;
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__input {
      padding: 10px;
      width: 100%;
      outline: none;
      border: none;
      border-radius: 5px;
    }

    &__button {
      position: absolute;
      right: 10px;
      top: 5px;
      background: none;
      border: none;
      outline: none;
      font-size: 1.5rem;
      color: $yellow;
      cursor: pointer;
    }
  }

  &__subtitle {
    font-size: 25px;
    color: $blue;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
  }

  &__card-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    &__card {
      flex: 0 0 20%;
      margin: 20px;

      &__image {
        width: auto;
        height: auto;
        border-radius: 50%;
        filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.226))
          drop-shadow(0 4px 3px rgba(0, 0, 0, 0.397));
      }

      &__name {
        text-align: center;

        a {
          color: $darkRed;
          font-size: 1.5rem;
        }
      }
    }
  }
}
