.characters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__main-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    &__filter-box {
      flex: 0 0 20%;

      &__options-bar {
        border: 1px solid red;
        padding: 20px 50px;
        background-color: wheat;
      }

      &__options-box {
        max-height: 0px;
        overflow: hidden;
        transition: 0.25s ease-out;
      }
    }

    &__card-box {
      flex: 0 0 80%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  &__details-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
  }

  .options-box-active {
    max-height: 500px !important;
    transition: 0.25s ease-in !important;
  }

  .active-filter {
    background-color: red;
  }
}
