.home {
  padding: 50px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__logo {
    background-image: url(../assets/img/rick2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 60vh;
    margin-bottom: 30px;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.226))
      drop-shadow(0 4px 3px rgba(0, 0, 0, 0.397));
  }

  &__desc {
    font-size: 1.6rem;
    text-align: center;
    width: 50%;

    a {
      color: $darkRed;
      transition: $transitionOut;
      font-weight: 600;

      &:hover {
        transition: $transitionIn;
        color: $yellow;
      }
    }

    span {
      color: $rickBlue;
      font-weight: 700;
      margin: 0px 5px;
    }
  }
}

// responsive
@media (max-width: 1024px) {
  .home {
    &__logo {
      width: 90%;
      margin-bottom: 10px;
    }

    &__desc {
      font-size: 1.3rem;
      width: 90%;

      span {
        margin: 0px;
        font-size: 1.2rem;
      }
    }
  }
}
