// Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

// Variables
@import "./style/variables.scss";

// Components
@import "./style/navbar.scss";
@import "./style/home.scss";

// default syles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  background-color: $background;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}
